<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-lg">
              <div class="card-body p-4 p-md-5">
                  <h2 class="text-center mb-4">Signup</h2>
                  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                      <mat-form-field class="w-100 mb-3" appearance="outline">
                          <mat-label>User name</mat-label>
                          <input matInput formControlName="name" required />
                          <mat-icon matSuffix>account_circle</mat-icon>
                          <mat-error *ngIf="signupForm.get('name')?.invalid"> User name is required
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field class="w-100 mb-3" appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email" type="email" required />
                          <mat-icon matSuffix>email</mat-icon>
                          <mat-error *ngIf="signupForm.get('email')?.invalid">
                              <span *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</span>
                              <span *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email address</span>
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field class="w-100 mb-3" appearance="outline">
                          <mat-label>Password</mat-label>
                          <input matInput formControlName="password" type="password" required />
                          <mat-icon matSuffix>password</mat-icon>
                          <mat-error *ngIf="signupForm.get('password')?.invalid">
                               <span *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</span>
                              <span *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field class="w-100 mb-3" appearance="outline">
                          <mat-label>Country</mat-label>
                          <input matInput formControlName="country" required />
                          <mat-icon matSuffix>flag</mat-icon>
                          <mat-error *ngIf="signupForm.get('country')?.invalid">
                              Country is required
                          </mat-error>
                      </mat-form-field>

                      <button class="btn btn-primary w-100" type="submit">Signup</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
